h3 {

padding-top: 1em;
color: white;

}

body {
  background-color: rgb(40, 40, 46);
  /* width: auto; */
}


.padtheceiling {
margin-top: 2em;


}

.vid {
margin-top: 2em;
margin-bottom: 2em;

}

.t {
margin-bottom: 1em;

}
